<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>JAVA - CRUD</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"> 
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
    <header>
        <nav class="nav">
            <a href="/">Home</a>
        </nav>
    </header>
    <main class="container">
    <h1>Lista de Personas</h1>
    <table class="table table-striped">
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Edad</th>
            <th>Acciones</th>
        </tr>
        <tr th:each="persona : ${personas}">
            <td th:text="${persona.id}">ID</td>
            <td th:text="${persona.nombre}">Nombre</td>
            <td th:text="${persona.edad}">Edad</td>
            <td>
                <div class="form__actiones">
                    <a th:href="@{'/editar/' + ${persona.id}}">Editar</a>
                    <a th:href="@{'/eliminar/' + ${persona.id}}">Eliminar</a>
                </div>
            </td>
        </tr>
    </table>
    <button class="btn btn-primary"><a href="/crear" class="button__crear">Crear Nueva Persona</a></button>
    </main>
    <footer>
        <p>Codo a Codo 2024 - JAVA</p>
    </footer>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
